# https://docs.discloudbot.com/discloud.config

ID=eyJhbGciOiJIUzI1NiJ9.eyJpZCI6IjU3MjQ0ODcxNTY2MzQ3NDY5OSIsImtleSI6ImI2NDk2ZjBkMWU0NTg2ZGRlNjVmNjZkYmVjZGIifQ.Id01a3HZQM8GVcH-ASSgZe0wfBBqKt-dsS6bNqqzV4w
TYPE=bot
MAIN=main.py
NAME=claim-bot
AVATAR=
RAM=100
AUTORESTART=true
VERSION=latest
APT=
BUILD=
START=python3 main.py
